
.card {
    margin: auto;
}

.card .card-body {
    text-align: center;
    background-color: #8c8c8c;
}

.card .card-body h1 {
    font-family: 'orbitron', sans-serif;
}

.card .card-body p {

    font-family: 'Cairo', sans-serif;

}