body {
    height: 100vh;
}

body li a {
    font-family: 'Orbitron', 'sans-serif';
}

* {
    box-sizing: border-box;
    transition-duration: 0.3s;
}

.card {
    margin-bottom: 5px;
}

.card:last-child {
    margin-bottom: 500px;
}

#container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #CC8400;
    border: 1px solid rgba(143, 21, 21, 0.671);
    color: rgba(143, 21, 21, 0.671);
    border-radius: .25rem .25rem 0 0;
}

.card>i {
    position: absolute;
    right: 0;
    font-size: 2rem;
    margin: 10px 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.card h5 {
    background-color: rgba(0, 0, 0, 0);
}

.card-body:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.07);
}

.card-body:nth-child(odd):hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-body:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.035);
}


.card-body>i {
    font-size: 1.2rem;
    padding: 1.2rem;
    margin-right: 1rem;
    background-color: lightgray;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
}

.card-body a {
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
    color: #CC8400;
}

.card-body:last-of-type {
    border: none;
}

/*
    THREAD-TEMPLATE
*/

.card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*
    CREATE-THREAD-TEMPLATE
*/
#search {
    justify-content: flex-end;
}

#topicName {
    margin: auto 0;
}

#gameSearch {
    position: relative;
}

#searchResult {
    display: none;
    list-style: none;
    padding: 5px;
    margin: 0;
    height: 150px;
    overflow: auto;
    background-color: white;
    border: 1px solid #CC8400;
    border-radius: .25rem;
    position: absolute;
    right: 15px;
    z-index: 1;
}

li {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
}

#closeSearch {
    display: none;
}

/*
    POST-TEMPLATE
*/
.postContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    padding: 10px 0;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.postContainer:first-of-type {
    border: 2px solid #CC8400;
    background-color: rgb(230, 230, 230);
}

.postContainer>.user {
    margin: auto;
    text-align-last: center;
    width: 20%;
}

.postContainer>.post {
    margin: auto;
    width: 80%;
}