

h2 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

form {
    padding-bottom: 20px;
}

label {
    font-family: 'Cairo', sans-serif;
}

/* game sizing confirmation and positioning */
#phaser {
    width: 800px;
    margin: auto;
}

#itemsAmount {
    font-family: 'Cairo', sans-serif;

}

.backgrounds{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}


.jumbotron_1 {
    width: 800px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.jumbotron_2 {
    width: 800px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: #CC8400;
}

.jumbotron_3 {
    width: 800px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: whitesmoke;
}


.jumbotron_4 {
    width: 800px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: #CC8400;
}


.jumbotron_5 {
    width: 800px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: whitesmoke;
}


.jumbotron_6 {
    width: 800px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: #CC8400;
}

.jumbotron_7 {
    width: 800px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: whitesmoke;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.jumbotron_7 button  {
    background-color: #CC8400;
    text-align: center;
    width: 290px;
    margin: auto;
}

.player {
    background-color: whitesmoke;
    border-radius: 50px;
}

.platform {
    padding: 0.5rem;
    border-radius: 20px;
}

.objects {
    height: 35px;
    width: 35px;
}

