@import url("https://fonts.googleapis.com/css?family=Orbitron");

h1 {
  font-family: 'Orbitron', sans-serif;
  color: rgba(255, 0, 0, 0.8);
  font-size: 5em;
  font-weight: 300;
  text-align: center;
}

/* Page will not have a scrollbar, and a radiant background*/
body {
  background: #c8c8c8;
  overflow-y: hidden;
  background-image: radial-gradient(circle, rgba(255, 255, 0, 0.5), orange 325px, rgba(255, 0, 0, 0.8));
}

/* main container with the 1 odd- and 2 even-hexagonContainer
will be centered so that the odd-hexagonContainer aligns beteween the 2 even-hexagonContainer
*/
section {
  margin: -100px auto;
  text-align: center;
  width: 960px;
}

/*-275 to delete the space between the contaienr*/
.hex_row_even {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.hex_row_odd {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.center {
  float: left;
  margin: 20px 10px;
  width: 220px;
}

/*create hexagon form by rotating 2 div by 60deg of the main div that is 120deg*/
.hexagon {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hexagonGame,
.hexagonForum {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  position: relative;
  visibility: visible;
  width: 100%;
}

/* contains the description inside the hexagon that will be shown when hovering over it*/
.desc {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 440px;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: 220px;
}

/* the different background colors of the descriptions */
.desc.base {
  background: rgba(230, 0, 0, 0.75);
}

.desc.one {
  background: rgba(204, 0, 160, 0.75);
}

.desc.two {
  background: rgba(74, 169, 50, 0.75);
}

.desc.three {
  background: rgba(83, 70, 54, 0.75);
}

.desc.link {
  background: rgba(255, 0, 0, 0.8);
}

/*description text layout*/
.desc h2 {
  margin: 165px 20px 0 20px;
  font-size: 1.2em;
}

.desc p {
  font-size: .8em;
}

/*image of each hexagon*/
.GTA {
  background-image: url(/assets/img/landing/GTA-IV.jpg);
  background-position: center;
}

.DarkSouls {
  background-image: url(/assets/img/landing/DarkSouls.jpg);
  background-position: 85% 45%;
  background-size: 170%;
}

.Portal {
  background-image: url(/assets/img/landing/Portal.jpg);
  background-position: center;
  background-size: 200%;
}

.Link {
  background-image: url(/assets/img/landing/Link.jpg);
  background-position: center;
  background-size: 120%;
}

.Game {
  background-image: url();
}

.Forum {
  background-image: url();
}

.Fallout {
  background-image: url(/assets/img/landing/Fallout.jpg);
  background-position: center;
  background-size: 120%;
}

.Mario {
  background-image: url(/assets/img/landing/Mario.jpg);
  background-position: center;
}

.Kratos {
  background-image: url(/assets/img/landing/Kratos.png);
  background-position: center;
}

.Pokemon {
  background-image: url(/assets/img/landing/Pokemon.jpg);
  background-position: center;
  background-size: 100%;
}

/* Mobile/Tablet only Game hexagon will be shown */
@media screen and (max-width: 960px) {

  .hex_row_odd,
  .mobile {
    display: none;
  }

  section {
    width: auto;
  }
}

/* reduce title for even smaller devices*/
@media screen and (max-width: 480px) {
  h1 {
    font-size: 3em;
  }

  .center {
    float: initial;
  }
}

/*# sourceMappingURL=style.css.map */