/* Body sizing and background color settings JP */
body {
    background-color: white;
}
/* Profile container sizing settings JP */
.card-container.card {
    border-radius: 25px;
    width: 650px;
    height: 500px;
    padding: 40px 40px;
}

/* Profile card color, padding, margin and font settings JP */
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    font-family: 'Cairo', sans-serif;
}

/* Profile card image sizing and positioning settings JP */
.profile-img-card {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto 10px;
}

/* Profile information display positioning JP */
.profileInfo{
	display: flex;
}

/* Profile info display sizing and font settings JP */
.profileInfo p:first-child{
	width: 40%;
	font-size: 110%;
}
