
#user_form {
    margin: auto;
    width: 450px;
}

form{
	font-family: Cairo;
	font-size: 1.2rem;
}

button{
	font-family: Orbitron;
}

.invalid{
	border: solid 2px red !important;
}

.invalid-username,
.invalid-email,
.invalid-password,
.invalid-password2{
	color: red;
	font-size: 1rem;
}