/*Sign Up backgroud, padding, position, margin, size and color. JP */
body {
    padding: 5rem;
    background-image: url(/assets/img/phaser.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f6f6f6;
    width: 600px;
    margin: auto;
}

/* jumbotron h1 text and color settings. JP*/
.jumbotron h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #56496b;
}

/* jumbotron opacity, text and color settings. JP*/
.jumbotron {
    font-family: 'Cairo', sans-serif;
    background-color: #8c8c8c;
    color: black;
    opacity: 0.95;
}

/* jumbotron imputs text settings. JP*/
.jumbotron .gender {
    font-family: 'Cairo', sans-serif;
}

/* jumbotron submit button text and color settings. JP*/
.jumbotron .btn-outline-primary {
    font-family: 'Cairo', sans-serif;
    color: black;
}