
{% block adminnavbar %}
    {% include 'Admin/AdminNavbar.html.twig' %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
{% endblock %}


{% block body %}
    <h2>Welcome to your admin page, !</h2>
    <div class="jumbotron">
        <h1 class="display-4">Informations about the website:</h1>
        <p class="lead">Number of posts: <span>{{ postAmount }}</span></p>
        <hr class="my-4">
        <p class="lead">Number of users: <span>{{ userAmount }}</span></p>
        <hr class="my-4">
        <p class="lead">Number of threads: <span>{{ threadAmount }}</span></p>
    </div>
{% endblock %}

{% block footer  "" %}
