{% block adminnavbar %}
    {% include 'Admin/AdminNavbar.html.twig' %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
{% endblock %}


{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h4>Keep the name & label as one word</h4>

        {{ form(form) }}

    {% else %}
        <h2>Foxtrot Oscar!!!</h2>
    {% endif %}

{% endblock %}