
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
{% endblock %}

{% block body %}

    {% set route = app.request.get('_route') %}
    <!–– Bootstrap card with photo for the about page JP -->
    <div class="card">
        <img class="card-img-top" src="/assets/img/GroupPhoto.jpg" alt="Card image cap">
        <div class="card-body">
            <h1>GameShot Team</h1>
            <p class="card-text">With the idea of a gaming themed forum in mind and to achieve our goals  </p>
            <p class="card-text">this team was created for the final project in our Full-stack Web Developer
                Certification Course @ NumericALL.</p>
            <p>From left to right:</p>
            <p>Stefano PETRUZZELLI</p>
            <p>Nidhi SHETTY</p>
            <p>Danny JESUS PEREIRA</p>
            <p>Jean-Paul BARREIRAS</p>
        </div>
    </div>

{% endblock %}

