
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../public/css/about.css" />
{% endblock %}



{% block body %}
<p> GameShot is about game creation and discussion around games</p>
{% endblock %}
