



	{% set route = app.request.get('_route') %}
<footer>
	<nav class="navbar navbar-expand-lg ">
		<ul class="navbar-nav">
			<li class="nav-item active">
			<li class="Nav-item {% if route == 'policies' %}is-active{% endif %}">
				<a href="{{ path("policies") }}">Policies</a>
			</li>
			<li class="Nav-item {% if route == 'disclaimer' %}is-active{% endif %}">
				<a href="{{ path("disclaimer") }}">Disclaimer</a>
			</li>
			<li class="Nav-item {% if route == 'phaser' %}is-active{% endif %}">
				<a href="{{ path("phaser") }}">Phaser Framework</a>
			</li>
			<li class="Nav-item {% if route == 'about' %}is-active{% endif %}">
				<a href="{{ path("about") }}">About us</a><li class="nav-item active">
				<p>&copy; GameShot 2018</p>
			</li>
			</li>
		</ul>
	</nav>
</footer>

