
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/game.css" />
{% endblock %}


{% block title %} GAME SHOT{% endblock %}

{% block body %}
    <main>
        <div id="phaser"></div>
        <form>
            <div class="jumbotron_1">
                <div class="d-flex justify-content-around">
                    <div id="form">
                        <h2>Select a background:</h2>
                        <div class="form-group d-flex justify-content-around">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="background" id="background" value="0" checked>
                                <label class="form-check-label" for="background">
                                    <img class="backgrounds" src="/assets/backgrounds/black.png" alt="default">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="background" id="background1" value="1">
                                <label class="form-check-label" for="background1">
                                    <img class="backgrounds" src="/assets/backgrounds/blue.png" alt="BG1">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="background" id="background2" value="2">
                                <label class="form-check-label" for="background2">
                                    <img class="backgrounds" src="/assets/backgrounds/purple.png" alt="BG2">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="background" id="background3" value="3" >
                                <label class="form-check-label" for="background3">
                                    <img class="backgrounds" src="/assets/backgrounds/darkPurple.png" alt="BG3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron_2">
                <div class="d-flex justify-content-around">
                    <div id="form">
                        <h2>Select a player:</h2>
                        <div class="form-group d-flex justify-content-around">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="player" id="player" value="0" checked>
                                <label class="form-check-label" for="player">
                                    <img class="player" src="/assets/players/player_thumbnail.png" alt="Default">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="player" id="player1" value="1">
                                <label class="form-check-label" for="player1">
                                    <img class="player" src="/assets/players/adventurer_thumbnail.png" alt="Adventurer">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="player" id="player2" value="2">
                                <label class="form-check-label" for="player2">
                                    <img class="player" src="/assets/players/female_thumbnail.png" alt="Female">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="player" id="player3" value="3" >
                                <label class="form-check-label" for="player3">
                                    <img class="player" src="/assets/players/soldier_thumbnail.png" alt="Soldier">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron_3">
                <div class="d-flex justify-content-around">
                    <div id="form">
                        <h2>Select a platform:</h2>
                        <div class="form-group d-flex justify-content-around">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="platform" id="platform" value="0" checked>
                                <label class="form-check-label" for="platform">
                                    <img class="platform" src="/assets/platforms/platformPack_tile004.png" alt="Default">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="platform" id="platform1" value="1">
                                <label class="form-check-label" for="platform1">
                                    <img class="platform" src="/assets/platforms/platformPack_tile016.png" alt="Plat1">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="platform" id="platform2" value="2">
                                <label class="form-check-label" for="platform2">
                                    <img class="platform" src="/assets/platforms/platformPack_tile001.png" alt="Plat2">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="platform" id="platform3" value="3" >
                                <label class="form-check-label" for="platform3">
                                    <img class="platform" src="/assets/platforms/platformPack_tile003.png" alt="Plat3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron_4">
                <div class="d-flex justify-content-around">
                    <div id="form">
                        <h2>Select an Object to collect:</h2>
                        <div class="form-group d-flex justify-content-around">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="item" id="item" value="0" checked>
                                <label class="form-check-label" for="item">
                                    <img class="objects" src="/assets/items/pill_yellow.png" alt="Default">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="item" id="item1" value="1">
                                <label class="form-check-label" for="item1">
                                    <img class="objects" src="/assets/items/shield_bronze.png" alt="Item1">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="item" id="item2" value="2">
                                <label class="form-check-label" for="item2">
                                    <img class="objects" src="/assets/items/star_silver.png" alt="Item2">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron_5">
                <div class="d-flex justify-content-around">
                    <div id="form">
                        <div class="form-group">
                            <label for="itemsAmount">How many?</label>
                            <select class="form-control" id="itemsAmount">
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron_6">
                <div class="d-flex justify-content-around">
                    <div id="form">
                        <h2>Select an enemy to avoid:</h2>
                        <div class="form-group d-flex justify-content-around">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="enemy" id="enemy" value="0" checked>
                                <label class="form-check-label" for="enemy">
                                    <img src="/assets/items/bolt_bronze.png" alt="Default">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="enemy" id="enemy1" value="1">
                                <label class="form-check-label" for="enemy1">
                                    <img src="/assets/items/bolt_gold.png" alt="enemy1">
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="enemy" id="enemy2" value="2">
                                <label class="form-check-label" for="enemy2">
                                    <img src="/assets/items/bolt_silver.png" alt="enemy2">
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-check text-center">
                            <input type="checkbox" class="form-check-input" id="enemyCollision">
                            <label class="form-check-label" for="enemyCollision">Should they collide with the platforms?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron_7">
                <div class="d-flex justify-content-around">
                    <div id="form">
                        <div class="form-group">
                            <label for="winScore">Score to be reached in order to win?   (10 - 50)</label>
                            <input type="range" class="form-control-range" id="winScore" min="10" max="50" step="10">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit to play GameShot</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Phaser cdn and my game script -->
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.15.1/phaser.min.js"></script> -->
    <script src="scripts/gameform.js"></script>
{% endblock %}
