
{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="/css/forum.css" />
{% endblock %}


{% block title %} GAME SHOT{% endblock %}

{% block body %}
<h1>This is Stefano's game page guys</h1>
{% endblock %}