{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/header.css" />
{% endblock %}

<!–– GameShot tilte header JP -->
<header class="main-header">
	<h1><strong><a href="/">Game Shot project</a></strong></h1>

</header>
