
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/disclaimer.css" />
{% endblock %}
{% block 'javascript' %}
<script src="{{ url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css') }}"></script>
{% endblock %}

{% block title %} GAME SHOT{% endblock %}

{% block body %}
<h1> Take A Shot At Making A Game</h1>
{% endblock %}