<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome to GameShot</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


  <link rel="stylesheet" href="css/landing.css">


</head>

<body>

    <h1>GameShot</h1>
  <!--
  -->
  <section>
    <div class="hex_row_odd">
      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 GTA">
              <div class="desc">
                <h2>GTA IV</h2>
                <p>"Let's Go Bowling"</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 DarkSouls">
              <div class="desc">
                <h2>Dark Souls</h2>
                <p>"YOU DIED"</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 Portal">
              <div class="desc">
                <h2>Portal</h2>
                <p>“The cake is a lie”</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->
    </div>
    <!--/hex_row_even-->

    <div class="hex_row_even">
      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 Link">
              <div class="desc">
                <h2>Link</h2>
                <p>“…”</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

      <div class="center">
        <div class="hexagonGame">
          <div class="hex1">
            <div class="hex2">
              <div class="desc Game">
                <h2>Game</h2>
                <p>Take a shot at making a game</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

      <div class="center">
        <div class="hexagonForum">
          <div class="hex1">
            <div class="hex2">
              <div class="desc Forum">
                <h2>Forum</h2>
                <p>Join our community</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 Fallout">
              <div class="desc">
                <h2>Fallout</h2>
                <p>"War. War never changes."</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

    </div>
    <!--/hex_row_even-->

    <div class="hex_row_odd">
      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 Mario">
              <div class="desc">
                <h2>Mario</h2>
                <p>"It's a-me, Mario!"</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 Kratos">
              <div class="desc">
                <h2>Kratos</h2>
                <p>"Boy"</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->

      <div class="center">
        <div class="hexagon">
          <div class="hex1">
            <div class="hex2 Pokemon">
              <div class="desc">
                <h2>Pokemon</h2>
                <p>"Are you a boy or a girl?"</p>
              </div>
            </div>
            <!--/hex2-->
          </div>
          <!--/hex1-->
        </div>
        <!--/hexagon-->
      </div>
      <!--/center-->
    </div>
    <!--/hex_row_even-->


  </section>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="scripts/landing.js"></script>
</body>

</html>