{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="/css/disclaimer.css" />
    {% endblock %}

{% block body %}

    {% set route = app.request.get('_route') %}

    <!–– Bootstrap jumbotron for phaser/game wiki JP -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Phaser Framework wiki</h1>
            <br>
            <p>From Wikipedia, the free encyclopedia</p>
            <br>
            <p>Phaser is a free software 2D game framework for making HTML5 games for desktop and mobile. It was created by
                Photon Storm.</p>
            <p>Phaser uses both a Canvas and WebGL renderer internally and can automatically swap between them based on
                browser support. This allows for fast rendering across desktop and mobile. It uses the Pixi.js library for
                rendering.</p>
            <p>Games can be compiled to iOS, Android and native desktop apps via 3rd party tools like Apache Cordova.</p>
            <h2>Overview</h2>
            <p>The only requirement to use Phaser is a web browser that supports the 'canvas' html tag. For desktop this
                includes Chrome, Firefox, Safari, IE9+ and Opera. Development can be done in either JavaScript or
                TypeScript.
                <br>
            <p>Some of the elements available are:</p>
            <p>Images, spritesheets and tweens - Static and dynamic images, and a mechanism to animate them.</p>
            <p>Input control</p>
            <p>Game Physics - Phaser includes three main physics engines.</p>
            <p>The Phaser website includes extensive documentation. It also hosts several official tutorials, and there
                are many other independently written. Finally there is a big section of examples to show the different
                features.</p>
            <br>
            <h2>History</h2>
            <p>Richard Davey announced the first release of Phaser on a blog post on April 2013. Version 1.0 was
                released on September, incorporating the Pixi.js library for rendering.</p>
            <p>The last official version of Phaser 2 was 2.6.2, but to allow improvements to the stable version while
                working on Phaser 3, a new repository was created: Phaser CE (Community Edition). Phaser CE is thus the
                currently recommended stable platform for development with Phaser.</p>
            <p>Phaser 3.0.0 was released on February 13, 2018 and development is ongoing on Github[13]. Most elements
                and features of the framework have been rebuilt from scratch using a fully modular structure and
                data-orientated approach. Phaser 3 includes a brand-new custom WebGL renderer designed for modern 2D
                games. Much of the documentation and examples for users has yet to be completed, although the majority
                of features have already been implemented.</p>
            <br>
            <h2>Usage</h2>
            <p>Phaser has been used to create many games for the web and mobile, some of them becoming quite popular.</p>
            <p>Recently it has even been used to develop games for Android TV.</p>
        </div>
    </div>


{% endblock %}