
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/.css" />
{% endblock %}


{% block title %} GAME SHOT{% endblock %}

{% block body %}
<h1>This is the profile page guys</h1>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="container">
  <div class="row">
    <div class="col">Username:</div>
    <div class="col">{{ app.user.username }}</div>
  </div>
  <div class="row">
    <div class="col">Email:</div>
    <div class="col">{{ app.user.email }}</div>
  </div>
  <div class="row">
  {% for role in app.user.roles %}
    <div class="col">Role:</div>
        <div class="col">{{ role }} </div>
  </div>
  {% endfor %}
  
{% endif %}
{% endblock %}