
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/adminNavbar.css" />
{% endblock %}
{% block 'AdminNavbar.html.twig' %}
<p> this is admin navbar </p>



















{% endblock %}