
{% block adminnavbar %}
    {% include 'user/AdminNavbar.html.twig' %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
{% endblock %}


{% block body %}
    <h2>Welcome to your admin page, !</h2>




{% endblock %}

{% block footer  "" %}
