{% block adminnavbar %}
    {% include 'user/AdminNavbar.html.twig' %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/role.css" />
{% endblock %}

{% block body %}
    <h2>Welcome to your admin page, {{ app.user.username }}!</h2>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="card text-center">
            <div class="card-header">Admin panel </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">User role attribution choice  </p>
                <article class="profileInfo">
                    {% for role in app.user.roles %}
                        <p id="profile-role" class="profile-name-card">Role:</p>
                        <p id="profile-role" class="profile-name-card">role will be displayed here</p>
                    {% endfor %}
                </article>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio" value="ROLE_ADMIN">Admin Role
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio" value="ROLE_USER">User Role
                    </label>
                </div>
            </div>
            <button type="submit"  class="btn btn-primary">Submit to apply role changes for this user </button>
            <div class="card-footer text-muted"> -------------------------- </div>
        </div>

    {% endif %}


{% endblock %}

{% block footer  "" %}
